@font-face {
  font-family: "Kitab";
  src: url("f3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

select {
  height: 3rem;
}

option {
  color: #333;
  font-weight: 600;
}

@media (min-width: 640px) {
  select {
    height: 2.5rem;
  }
}

body {
  font-family: "Kitab", sans-serif;
}

.arabic-text {
  font-family: "AlQalamQuranMajeedWeb", serif;
}

.hidden {
  display: none;
}
